@inherits LayoutComponentBase
@inject IAuthenticationService AuthenticationService

@if (AuthenticationService.AuthInfo != null)
{
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <NavLink class="navbar-brand" href="/">Todo List</NavLink>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <NavLink class="nav-link" href="/">Home</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/todo">Lista de Todos</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/category">Lista de Categorias</NavLink>
                    </li>
                </ul>
            </div>
            <span class="navbar-text mr-3">
                @AuthInfo.email
            </span>
            <button class="btn btn-primary my-2 my-sm-0" @onclick="HandleLogout">Sair</button>

        </div>
    </nav>
}

<div class="container mt-3">
    @Body
</div>

@code {
    ViewModels.AuthInfo AuthInfo => AuthenticationService.AuthInfo;

    public async void HandleLogout()
    {
        await this.AuthenticationService.Logout();
    }
}