@inherits LayoutComponentBase

<nav class="navbar navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand">Todo List</a>
    </div>
</nav>

<div class="container mt-3">
    @Body
</div>
